.widgetMain{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0px;
}
.widget{
    font-size: 30px;
    color: coral;
    width: 25%;
    height: 200px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 30px 24px;
    box-shadow: 0 16px 48px #E2E8ED;
}
.widget p{
    margin-left: 10px;
}