.headerMain{
    display: flex;
    height: 50px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    background-color: #f9f9f9;
    padding: 0px 20px;
    justify-content: space-between;
}
.headerDiv{
    font-size: 16px;
    color: #1f2b35;
    text-decoration: none;
}
.rightDiv{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: flex-end;
}
.globalCount{
    font-weight: bold;
    font-size: 80px;
    color: #0081F6;
    margin: 50px 0px;
    text-align: center;
}
.globalSpan{
    font-size: 40px;
    color: #1f2b35;
    width: 100%;
}