input{
    font-size: 30px;
    color: #6f8394;
    height: 100px;
    width: 100%;
    background: #fff;
    box-shadow: 0 16px 48px #E2E8ED;
    outline: none;
    border: none;
    margin: 50px 0px;
    padding: 20px;
    text-align: center;
}
input:-ms-input-placeholder,
input::-webkit-input-placeholder{
    font-size: 30px;
    color: #f6f6f6;
    padding-left: 20px;
}
#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #states {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #states td, #states th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #states tr:nth-child(even){background-color: #f2f2f2;}
  
  #states tr:hover {background-color: #ddd;}
  
  #states th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0081F6;
    color: white;
  }