.footermain{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    background: #1F2B35;
}
.footermain img{
    width: 200px;
    padding: 10px;
}
.copyright{
    width: 100%;
    color: #ffffff;
    padding: 10px;
}